{% extends "../layout.html" %}
{% load crispy_forms_tags %}


{% block body %} 
<div class="container">
    <div class="row">
      <div class="card row-hover pos-relative py-3 px-4 mb-3 border-warning border-top-5 border-right-5 border-bottom-5 rounded-5 common-style" 
      style="max-width: 90vw; margin: auto; margin-top: 1vh; background-color: #8A7360;">
        <div class="row align-items-center">
          <div class="col-md-1 mb-3 mb-sm-0 align-self-start" style="margin-right: 0.5vw;">
            <img class="rounded-circle account-img" style="max-width: 20vw;" src="{{ user.profile.image.url }}" alt="">
            <div class="media-body">
                <h2 class="account-heading"> {{ user.username }} </h2>
                <p class="text-secondary"> {{ user.email }} </p>
            </div>
        </div>
    </div>
</div>
<div>
    <form method="POST" enctype="multipart/form-data"  class="login-form">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Info de Perfil</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset> 
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit"> Actualizar </button>
        </div>
    </form>
</div>

{% endblock %}