body {
    font-family: 'Gotham', sans-serif;
    background-color: #75583F;
}

/* until line 106 its all for the navigation menu */

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --bar-width: 50px;
    --bar-height: 8px;
    --hamburger-gap: 7px;
    --foreground: black;
    --background: white;
    --ham-margin: 3vh;
    --animation-timing: 300ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    background: none;
    border-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    border-radius: 9999px;
    width: max-content;
    position: absolute;
    top: var(--ham-margin);
    left: var(--ham-margin);
    z-index: 99;
    cursor: pointer;
}

.hamburger .bar,
.hamburger::before,
.hamburger::after {
    content: "";
    border-radius: 9999px;
    transform-origin: left center;
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    transition: opacity var(--animation-timing), width var(--animation-timing), transform var(--animation-timing), background-color var(--animation-timing);
}

.hamburger.is-active .bar {
    opacity: 0;
    width: 0;
}

.hamburger.is-active::before {
    transform: rotate(45deg) translate(0, calc(var(--bar-height) / -2));
    width: var(--x-width);
}

.hamburger.is-active::after {
    transform: rotate(-45deg) translate(0, calc(var(--bar-height) / 2));
    width: var(--x-width);
}

.mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    right: 100%;
    width: 45%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #393127;
    padding-top: 120px;
    transition: 0.4s;
    opacity: 0.85;
}

.mobile-nav.is-active {
    right: 55%;
}

.mobile-nav a {
    font-weight: 300;
    font-size: 1.1rem;
    display: block;
    text-align: center;
    width: 100%;
    max-width: 200px;
    margin: 16px auto 0;
    margin-bottom: 16px;
    padding: 8px;
    color: #B6ACAA;
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: #8A7360;

}

.brand {
    display: block;
    align-items: left;
}

.login-body { 
    padding-top: 25vh;
    padding-bottom: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #cfc3c1;
    z-index: 10;
    
}

.log-container {
    border-radius: 12vw;
    height: 50%;
    width: 66.67%; /* 2/3 of width */
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #393127;
    opacity: 0.7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    justify-content: space-between;

}

.login-form {
    width: 80%;
    max-width: 100%;
    text-align: center;
    margin: auto;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-left: 3vw;
    text-align: left;
    width: 100%;
    margin-bottom: 0.9vh;
    margin-top: 2.5vh;
    border-radius: 9999px;
    border-style: none;
}


.login-form input,
.login-form button {
    display: block;
    margin: auto;
    width: 100%;
    margin-bottom: 1.5vh;
    border-radius: 9999px;
    border-style: none;

}

.login-form button {
    padding: 10px;
    margin-top: 2.5vh;
    width: 70%;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
}

.regis-text {
    display: block;
    text-align: center;
    margin-top: 1vh;
}

.regis-text a {
    color: #B6ACAA;
    transition: background-color 0.2s;
}

.calm-text {
    display: block;
    text-align: left;
    margin-top: 2vh;
    font-size: 0.8rem;
    font-style: italic;
    padding-left: 0.5vw;

}

.calm-text a {
    color: #B6ACAA;
    padding-left: 0.5vw;
    text-align: left;
}

.footerText {
    display: block;
    text-align: left;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-bottom: 2vw;
    font-size: 0.65rem;
    font-style: italic;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 33.35vw;
  }
  
  .main-text {
    margin-bottom: 5px;
  }
  
  .subtext {
    text-align: center;
  }
  