{% extends "layout.html" %}



{% block body %} 
<div class="container">
    <div class="welcomeScroll">
        <div>Todo lo que queres saber de tu facultad en un solo lugar</div>
    </div>
    <form class="initial_cta">
        <button class="cta_button" type="submit" value="browse" name="cta"><span>Comenzá a leer sin una cuenta</span></button>
    </form>
    <form class="initial_cta">
        <button class="cta_button" type="submit" value="register" name="register"><span>Ingresá acá</span></button>
    </form>
</div>
{% endblock %}