{% extends "layout.html" %}



{% block body %} 
    <div class="login-body">
        <div class="log-container">
            <form class="login-form">
                <h2>Login</h2>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Login</button>
            </form>
            <div class="regis-text">
                Aún no eres usuario?<br><a href="#">Registrate!</a>
            </div>
            <div class="calm-text">
                Todos  tus datos son anónimos, <b>si deseas retirar tu presencia en el sitio, <a href="#">contactanos</a></b>
            </div>
        </div>
    </div>
{% endblock %}