{% extends "../layout.html" %}
{% load crispy_forms_tags %}



{% block body %} 
<div class="login-body">
    <div class="log-container">

        <form method="POST" class="login-form">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">¿Olvidaste tu contraseña?</legend>
                {{ form|crispy }}
            </fieldset> 
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Resetear contraseña </button>
                <div class="regis-text">
                    aún no eres usuario?<br><a href="{% url 'register'%}">Creá tu cuenta!</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}