
.hamburger {
  position: relative;
  display:block;
  width: 50px;
  height: 50px;
  appearance: none;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;

}

.hamburger .bar, .hamburger::after, .hamburger::before {
  content:"";
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 10px 5px;
  transition: 0.4s;
  background: black;
  border-radius: 9999px;
  }

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-9px);
  }

  .hamburger.is-active::after {
    transform: rotate(45deg) translate(9px);
    }