/* calificami/static/css/styles.css */
.container-fluid {
    background-color: blue;
    max-width: 35%;
    margin-left: 0;
}

.navbar-collapse {
    position: fixed;
    top: 50px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  
  .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }
  
  .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
  }
  
  .navbar-toggler.collapsed~.navbar-collapse {
    transition: left 500ms ease-in-out;
  }