/* Css only hamburger menu toggle. */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --bar-width: 60px;
    --bar-height: 10px;
    --hamburger-gap: 7px;
    --foreground: black;
    --background: white;
    --ham-margin: 15px;
    --animation-timing: 250ms ease-in-out;
    --hamburger-height: calc(var(--bar-height)*3 + var(--hamburger-gap) * 2 );
}

.hamburger-menu {
    --x-width: calc(var(--hamburguer-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    border-radius: 9999px;
    width: max-content;
    position: absolute;
    top: var(--ham-margin);
    left: var(--ham-margin);
    z-index: 0;
    cursor: pointer;

}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input{
    content:"";
    border-radius: 9999px;
    transform-origin: left center;
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);

}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}


.hamburger-menu input:checked{
    opacity: 0;
    width: 0;

}

.sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--ham-margin) + 1rem);
    background-color: var(--foreground);
    color: var(--background);
    max-width: 10rem;
    min-height: 100vh;
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
}
