{% extends "layout.html" %}



{% block nav %}

    <nav class="header">
        <div class="nav_index"> 
            <div class="left_nav">
                <button class="nav_item"> <a href="privacy"> Privacidad </a></button>
                <button class="nav_item">  <a href="about"> Nosotros </a> </button>
            </div>
            <div class="right_nav">
                <button class="nav_item">  <a href="index"> Contacto </a> </button>
                <button class="nav_item">  <a href="../register"> Cuenta </a> </button>
            </div>
        </div>    
    </nav>

{% endblock %}







 
{% block body %}

<div>
    <div class="welcomeScroll">
        <div class="section">Todo lo que queres saber de tu facultad en un solo lugar</div>
    </div>
    <form class="initial_cta" action="{% url 'ctd-home' %}">
        <button class="cta_button" type="submit" value="browse" name="cta"><span>Comenzá a leer sin una
                cuenta</span></button>
    </form>
    <form class="initial_cta" action="../register">
        <button class="cta_button" type="submit" value="register" name="register" ><span>Ingresá acá</span></button>
    </form>

    <div class="welcomeScroll" id="facultades">
        <div class="section">Buscá basado en tu facultad</div>
    </div>
    <div class="welcomeScroll" id="cursos">
        <div class="section">Buscá basado en curso, consejos, docentes y más</div>
    </div>
</div>
<div class="intro1">
    <h2>Decí todo lo que te hubiese gustado saber!</h2>
    <p style="padding-top: 2vh">Califica tu docente funciona con un simple objetivo: que estudiantes de todas las carreras, 
        de todas las facultades puedan venir y dejar sus consejos, opiniones y observaciones sobre 
        docentes, materias y carreras</p>
</div>
{% endblock %}