{% extends "layout.html" %}

 

{% block body %}
<div class="intro1">
    <h1>Política de privacidad</h1>
    <p style="padding-top: 2vh">Bienvenido a "CalificaTuDocente" de ahora en más “El sitio”. 
        En esta sección, te explicamos cómo manejamos tus datos personales y tu privacidad 
        cuando utilizas nuestros servicios. Cumplimos con la Ley Nº 18.331 de Protección de 
        Datos de Uruguay y nos comprometemos a garantizar la seguridad y confidencialidad 
        de tu información.</p>
</div>

<div class="welcomeScroll">
    <div class="section">
        <h3>
        1. Recopilación de Datos
        </h3>
        <p class="privacyText">
        Al registrarte en el sitio, recopilamos tu dirección de correo electrónico, nombre de 
        usuario y contraseña cifrada. Estos datos se utilizan únicamente para permitirte acceder 
        a tu cuenta y utilizar nuestros servicios. Nunca serán vendidos, regalados, o diseminados 
        de ninguna manera.
        </p>
    </div>
</div>

<div class="welcomeScroll">
    <div class="section">
        <h3>
        2. Publicación de Comentarios y Consejos
        </h3>
        <p class="privacyText">
        Puedes publicar comentarios y consejos en nuestro sitio utilizando un número de usuario
        aleatorio asignado al registrarte. Estos comentarios y consejos se publican de forma 
        anónima y no habrá forma en el sitio (ni para los usuarios, ni para los administradores) de encontrar 
        tu email o información personal a partir de tu numero de usuario.
        La información sin embargo puede ser hayada unicamente en caso de amenazas, violencia, acoso o cualquier otro uso indebido 
        por el webmaster y puede llegar a ser entregado a autoridades pertinentes. 
        </p>
    </div>
</div>

<div class="welcomeScroll">
    <div class="section">
        <h3>
        3. Derecho de Acceso y Eliminación
        </h3>
        <p class="privacyText">Respetamos tu derecho a acceder, modificar o eliminar tus datos personales almacenados en 
            nuestra plataforma. Si deseas dar de baja tu cuenta o modificar tu información, puedes hacerlo 
            a través de la configuración de tu cuenta o contactándonos</p>
    </div>
</div>

<div class="welcomeScroll">
    <div class="section">
        <h3>
        4. Cumplimiento Legal
        </h3>
        <p class="privacyText">Nos comprometemos a cumplir con la Ley Nº 18.331 de Protección de Datos de Uruguay 
        y otras regulaciones aplicables para garantizar la seguridad y privacidad de tus datos.</p>
    </div>
</div>

<div class="welcomeScroll">
    <div class="section">
        <h3>
        5. Contacto
        </h3>
        <p class="privacyText">
        Si tienes preguntas, comentarios o inquietudes sobre nuestra política de privacidad 
        o el manejo de tus datos, no dudes en ponerte en contacto con nuestro equipo a través 
        de contacto@ctd.com.uy                 
        </p>
    </div>
</div>
<div class="privacyFooter">
    <p style="padding-top: 2vh">Te invitamos a revisar nuestras Condiciones de Uso para obtener 
        más detalles sobre el uso de nuestro sitio web. Al utilizar el sitio, aceptas nuestras
        políticas de privacidad y términos de uso.
    </p>
    <p>Ultima actualización: 11 de agosto de 2023</p>
</div>
{% endblock %}