:root {
    --bg_color : #c7b9ae;
    --text_main : #383838;
    --accent_color : #2D848A;
    --card_bg : #F5F5F5;
    --card-outline : #B3B3B3;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg_color);
}

.header {
    margin-top: 1rem;
    height: 8.5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.nav_index {
    font-size: 3.5vw;
    height: 7.5vh;
    min-width: 80vw;
    max-width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    background-color: var(--accent_color);
    padding: 1.5vh 2vw;
    gap: 8vw;
}

@media (min-width: 550px) {
    .nav_index {
        font-size: 1rem;
        min-width: 40vw;
        max-width: 70vw;

    }
    
    
}

.nav_index a {
    color: inherit;
    text-decoration: none;
}

.left_nav,
.right_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    gap: 2vw;

}


.left_nav button,
.right_nav button {
    background-color: transparent;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;

}




.brand {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.brandMain {
    flex: 1;
    text-align: right;
    font-size: 1.8rem;
    margin-top: 2.2vh;
    margin-right: 3vw;
    text-decoration: none;
    color: #393127;
}

.brandSub {
    flex: 1;
    text-align: right;
    font-size: 0.9rem;
    margin-top: -1vh;
    margin-right: 5vw;
    text-decoration: none;
    color: #393127;
}

.brandMain:active {
    color: #8A7360;
}


.brandSub:active {
    color: #8A7360;
}


.login-body {
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    color: #cfc3c1;
    z-index: 10;

}

.log-container {
    border-radius: 12vw;
    margin: auto;
    width: 66.67%;
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #393127;
    opacity: 0.7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    justify-content: space-between;

}

.login-form {
    width: 80%;
    max-width: 100%;
    text-align: center;
    margin: auto;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-left: 3vw;
    text-align: left;
    width: 100%;
    margin-bottom: 0.9vh;
    margin-top: 2.5vh;
    border-radius: 9999px;
    border-style: none;

}

.login-form input,
.login-form button {
    display: block;
    margin: auto;
    width: 100%;
    margin-bottom: 1.5vh;
    border-radius: 9999px;
    border-style: none;

}

.login-form button {
    padding: 10px;
    margin-top: 2.5vh;
    width: 70%;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
}

.regis-text {
    display: block;
    text-align: center;
    margin-top: 1vh;
}

.regis-text a {
    color: #B6ACAA;
    transition: background-color 0.2s;
}

.calm-text {
    display: block;
    text-align: left;
    margin-top: 2vh;
    font-size: 0.8rem;
    font-style: italic;
    padding-left: 0.5vw;

}

.calm-text a {
    color: #B6ACAA;
    padding-left: 0.5vw;
    text-align: left;
}

.footerText {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-bottom: 1vh;
    font-size: 0.65rem;
    font-style: italic;
    z-index: 5;
}

.welcomeScroll {
    /* Adjust the width as needed */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: appear 1s;
    animation-fill-mode: forwards;
}

.welcomeScroll div {
    max-width: 95vw;
    min-width: 85vw;
    font-size: 1.8rem;
    font-weight: 250;
    padding: 10px;
    border-radius: 5px;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    background-color: #5a5044;
    margin: 3vw;
    color: #B6ACAA;
}

.initial_cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: appear 1500ms;
    animation-fill-mode: forwards;
    margin-top: 1vh;
    margin-bottom: 1vh;
    /* Adjusts button-text spacing */
}

.cta_button {
    min-width: 85vw;
    border-radius: 9999px;
    border: none;
    background-color: #8A7360;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.2rem;
    color: #B6ACAA;
    cursor: pointer;
}

/* Keyframes */
@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-100vh);
    }

    to {
        opacity: 1;
        transform: translateY(1.5vh);
    }
}

.intro1 {
    position: relative;
    margin: 3vh 4vw 1.5vh 4vw; 
    padding: 2vh 4vw 2vh 3vw;
    text-align: center;
    z-index: 0;
    background-image: 
        linear-gradient(transparent 0, transparent 1px, wheat 1px, wheat 2px),
        linear-gradient(to bottom, #e4c47e, wheat);
    background-size: 100% 1.7rem, 100% 100%;
    background-repeat: repeat-y;
}

.privacyText {
    font-size: 1rem;
}

.privacyFooter {
    position: relative;
    margin: 3vh 4vw 8vh 4vw; 
    padding: 2vh 4vw 1vh 3vw;
    text-align: center;
    background-image: 
        linear-gradient(transparent 0, transparent 1px, wheat 1px, wheat 2px),
        linear-gradient(to bottom, #e4c47e, wheat);
    background-size: 100% 1.7rem, 100% 100%;
    background-repeat: repeat-y;
}


.comment {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

.comment div {
    max-width: 95vw;
    min-width: 85vw;
    font-size: 1.8rem;
    font-weight: 250;
    padding: 10px;
    border-radius: 5px;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    background-color: #5a5044;
    margin: 3vw;
    color: #B6ACAA;
}


.text-primary a {
    color: #B6ACAA
}

